jackett/config/*
!jackett/config/.gitkeep
jackett/blackhole/*
!jackett/blackhole/.gitkeep
syncthing/config/*
!syncthing/config/.gitkeep
medias/*
!medias/.gitkeep
jellyfin/config/*
!jellyfin/config/.gitkeep
jellyfin/cache/*
!jellyfin/cache/.gitkeep
qbt/config/*
!qbt/config/.gitkeep
nextpvr/buffer/*
!nextpvr/buffer/.gitkeep
nextpvr/config/*
!nextpvr/config/.gitkeep
.env